* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.171);
  user-select: none;
}

html {
  font-size: 62.5%;
  position: relative;
}

button,
input {
  outline: none;
  border: none;
  font-family: inherit;
  text-align: center;
  font-size: 2rem;
}

.element::-webkit-scrollbar {
  display: none;
}

input {
  /* From https://css.glass */
  background: linear-gradient(
    to bottom,
    transparent 1%,
    rgba(57, 57, 57, 0.482)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.82);
  color: white;
}

input::placeholder {
  color: white;
}

body {
  font-family: "Poppins";
  /* background: linear-gradient(-300deg, #005187, #2b7600);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; */
  height: 100vh;
  background-color: black;
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#root {
  padding: 0 4rem 3rem 4rem;
  max-width: 1387px;
  min-width: 467px;
  margin: 0 auto;
  overflow: hidden;
}

.trademark {
  color: white;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem; /* From https://css.glass */
  background: linear-gradient(
    to bottom,
    transparent 1%,
    rgba(57, 57, 57, 0.482)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.82);
  color: white;
}

nav {
  padding: 0 3rem;
  color: white;
  height: 8rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    transparent 1%,
    rgba(57, 57, 57, 0.482)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.82);
  color: white;
}

nav > * {
  width: 33%;
}

nav > input {
  height: 60%;
  border-radius: 20px;
}

nav > p {
  font-size: 2rem;
  text-align: end;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo > img {
  height: 70%;
  width: auto;
  animation: spin 7s linear infinite;
  filter: contrast(2);
}

.logo > p {
  font-size: 3rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

main > section {
  margin-top: 2rem;
  width: 70%;
  border-radius: 20px;
  height: 59rem;
  /* From https://css.glass */
  background: linear-gradient(
    to bottom,
    transparent 1%,
    rgba(57, 57, 57, 0.482)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.82);
  color: white;
}

main > section:first-child {
  width: 30%;
}

.listedMovies {
  padding: 2rem;
  overflow: auto;
}

.specificMovieList {
  padding: 1rem 2rem;
  border-radius: 20px;
  height: 10rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  /* From https://css.glass */
  background: linear-gradient(
    to bottom,
    transparent 1%,
    rgba(57, 57, 57, 0.482)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.82);
  color: white;
}

.specificMovieList > .imageContainer {
  text-align: center;
  height: 100%;
  min-width: 15%;
}

.specificMovieList > .imageContainer > img {
  height: 100%;
  width: 100%;
}

.specificMovieTitle {
  overflow: auto;
  color: white;
}

.specificMovieList:not(:first-child) {
  margin-top: 2rem;
}

.specificMovieTitle > p:first-child {
  font-size: 2rem;
  white-space: nowrap;
}

.specificMovie {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clickedMovie {
  padding: 2rem 4rem;
  /* From https://css.glass */
  background: linear-gradient(
    to bottom,
    transparent 1%,
    rgba(57, 57, 57, 0.482)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.82);
  color: white;
  width: 95%;
  height: 90%;
  border-radius: 20px;
}

.selectedMovie {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
  gap: 4rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid rgba(229, 227, 227, 0.406);
}

.selectedMoviePoster {
  text-align: center;
  width: 30%;
  max-width: 30%;
  height: 100%;
  overflow: scroll;
}

.selectedMoviePoster > img {
  height: 100%;
  width: auto;
}

.selectedMovieMainInfo {
  overflow: hidden;
  height: 100%;
  width: 85%;
}

.selectedMovieMainInfo > p:first-child {
  overflow: auto;
  font-size: 3rem;
  white-space: nowrap;
}

.selectedMovieMainInfo > p:not(:first-child) {
  font-size: 1.5rem;
}

.selectedMovieMore {
  height: 70%;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.starComponent {
  display: flex;
  gap: 1rem;
  height: 30%;
  align-items: center;
}

.starComponent > p {
  width: 20%;
  text-align: center;
}

.starComponent > div {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starComponent > p {
  font-size: 2rem;
}

.misc {
  height: 70%;
  overflow: auto;
}

.misc > p:not(:first-child) {
  margin-top: 2rem;
}

.misc > div {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.misc > div > button {
  padding: 0 3rem;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    transparent 1%,
    rgba(57, 57, 57, 0.482)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.82);
  color: white;
}

.top {
  height: 20%;
  font-size: 2rem;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}

.top > p {
  height: 70%;
  display: flex;
  justify-self: center;
  align-items: center;
}

.statsTop {
  width: 90%;
  height: 60%;
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.statsTop > p {
  font-size: 1.5rem;
}

.bottom {
  height: 80%;
  overflow: auto;
  padding: 2rem;
}

.specificBottomMovie {
  padding: 1rem 3rem;
  height: 30%;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    transparent 1%,
    rgba(57, 57, 57, 0.482)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.82);
  color: white;
  display: flex;
  gap: 2rem;
}

.specificBottomMovie:not(:first-child) {
  margin-top: 2rem;
}

.imgContainer {
  width: 10%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.infoBottom {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.infoBottom > div {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1033px) {
  .specificMovieList > .imageContainer {
    max-width: 30%;
  }
  .specificMovieList > .imageContainer > img {
    width: auto;
    max-width: 100%;
    height: 100%;
  }
}

@media (min-height: 914px) {
  #root {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
  }
}

@media (max-width: 860px) {
  .specificMovieList {
    padding: 1rem;
    gap: 1rem;
  }
  .imgContainer {
    width: 20%;
  }
  .infoBottom > div {
    font-size: 1rem;
  }
}

@media (max-width: 848px) {
  .statsTop {
    width: 100%;
  }
  .statsTop > p {
    font-size: 1rem;
  }
  .logo > p {
    display: none;
  }
  .logo {
    width: 20%;
  }
  nav > input {
    width: 50%;
  }
  nav > p {
    width: 30%;
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 752px) {
  main {
    flex-direction: column;
  }
  main > section:first-child {
    max-height: 60rem;
    width: 100%;
    height: 60%;
  }
  main > section:nth-child(2) {
    width: 100%;
  }
  .list {
    right: -100%;
  }
}

@media (max-width: 622px) {
  .starComponent {
    gap: 0.5rem;
  }
  nav > .logo {
    display: none;
  }
  nav > input {
    width: 60%;
  }
  nav > p {
    width: 40%;
  }
}

.specificMovieList:hover {
  background: linear-gradient(-300deg, #ff2e00, #9aff00);
  background-size: 400% 400%;
  animation: gradient 1s ease infinite;
}

.misc > div > button:hover {
  background: linear-gradient(-300deg, #ff2e00, #9aff00);
  background-size: 400% 400%;
  animation: gradient 1s ease infinite;
}

.messageListMovie {
  color: white;
  font-size: 2rem;
}

.svgContainer > svg {
  fill: white;
  height: 8rem;
  animation: spin 10s linear infinite;
  filter: grayscale(100%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 20px;
}

.list {
  position: absolute;
  background: linear-gradient(-300deg, #ff2e00, #9aff00);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  z-index: 9;
  font-size: 2rem;
  bottom: 0%;
  right: 0%;
  border-radius: 10px;
  padding: 0 1rem;
  color: white;
}
